doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  <form method="POST" enctype="multipart/form-data" action="monupload">
    <input type="file" name="monfichier" accept ="*.png" multiple>
    <button> envoyer </button>
</form>
    block content
